.panel.panel-default
  .panel-heading
    %strong Posted by:
    = comment.user.name
    - if current_user == comment.user
      = link_to "Edit", "/"
      = link_to "Delete","/"
  .panel-body
    = comment.text
