= form_tag @comment, :remote => true, :id => "comment_form", :method => :PATCH do
  .form-group
    = text_area_tag :comment, @comment.text, :placeholder => "Add a comment", :class => "form-control", :id => "comment", :style => "margin-top: 20px;", :required => true
    = submit_tag "Submit", :class => "form-control btn btn-primary", :style => "margin-top: 20px;", :id => "comment_submit"
