$(".job").html("<div class='center-text'><%= @user.job %> <%= j link_to 'Edit', edit_job_user_path(@user), :id => 'edit_job', :style => 'font-size: 12px', :remote => true, :method => :POST %></div>");
