/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootswatch/lumen/variables";
 @import "bootstrap";
 @import "bootswatch/lumen/bootswatch";
 @import "font-awesome";

 .center-text {
   text-align: center;
   font-size:  1.5em;
 }

 textarea {
   resize: none;
 }

 .notices {
   margin-top: -10px;
   margin-bottom: 20px;
  //  position: absolute;
 }

  .notice {
    line-height: 3;
    padding-left: 20px;
    font-size: 1em;
    text-align: center;
  }

  .recipe-form {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .recipe-form label {
    font-size: 1.25em;
  }

  .btn-user {
    color: white;
    border-color: #8e44ad;
    background-color: #9b59b6;
  }

  .btn-user:hover {
    color: white;
    border-color: #8e44ad;
    background-color: #9b59b6;
  }
